@import '../../styles/mixins.scss';

.tool-bar-container {
	width: 80vw;
	margin: 20px auto;
	height: 100px;
	background: #007bb2;
	display: -moz-box;
	display: flex;
	-moz-box-align: center;
	align-items: center;
	-moz-box-pack: center;
	justify-content: center;
	padding: 25px;
}

.search-bar {
	height: 40px;
	outline: none;
	border: 1px solid #9500ae;
	flex: 1 0;
	font-size: 1.2rem;
}

.search-button {
	height: 40px;
	border: none;
	background: #9500ae;
	color: white;
	padding: 10px;
	font-weight: bold;
	flex: 0 0 200px;

	@include bp-lg-mobile-max {
		flex: 0 0 150px;
	}

	&:hover {
		background: lighten(#9500ae, 10%);
	}
}
