.drawer-header {
	color: rgba(0, 0, 0, 0.87);
	border-bottom: 1px solid transparent;
	background: #fff;
	border-bottom-color: #dadce0;
	position: relative;
	box-shadow: none;
	margin-bottom: 60px;
	height: 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.close {
		flex: 0 0 70px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.drawer-title {
		flex-grow: 1;
		text-align: left;
	}

	.drawer-btn {
		margin: 0 24px;

		padding: 10px 20px;
		font-weight: bold;
		cursor: pointer;
		width: 80px;
		height: 40px;
		display: flex;
		align-items: center;

		&:disabled {
			opacity: 0.5;
		}
	}

	.drawer-btn {
		margin: 0 24px;

		padding: 10px 20px;
		font-weight: bold;
		cursor: pointer;
		width: 80px;
		height: 40px;
		display: flex;
		align-items: center;

		&:disabled {
			opacity: 0.5;
		}
	}

	.drawer-save-button {
		margin-right: 10px;
	}

	.drawer-delete-button {
		margin-left: 0px;
	}
}
