@import '../../styles/mixins.scss';

.button-list {
	button {
		margin-right: 5px;

		@include bp-lg-mobile-max {
			flex: 1 0 50%;
		}
	}

	margin-bottom: 20px;
	margin-top: 20px;

	@include bp-lg-mobile-max {
		display: flex;
	}
}
