@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.failed-to-fetch-warning {
	padding: 20px;
	background: lighten($color-brand-secondary-dark, 40%);
	margin-top: 15px;
	color: #9500ae;
	font-size: 1.2rem;
	font-weight: bold;
	border: 1px solid #9500ae;

	span {
		display: inline-block;
		margin-right: 10px;
	}

	@include bp-lg-mobile-max {
		text-align: center;
	}
}

.fetch-btn {
	padding: 5px;
	cursor: pointer;
	background: #9500ae;
	color: white;
	border: 2px solid white;
	font-weight: bold;

	&:hover {
		background: lighten(#9500ae, 10%);
	}

	@include bp-lg-mobile-max {
		margin-top: 10px;
	}
}
