//primary colors;
$color-brand-primary-light: #015384;
$color-brand-primary-main: #0277bd;
$color-brand-primary-dark: #3492ca;
$color-brand-primary-contrastText: #fff;

// secondary colors;
$color-brand-secondary-light: #9500ae;
$color-brand-secondary-dark: #d500f9;
$color-brand-secondary-contrastText: #dd33fa;
