@import './variables.scss';
@import './mixins.scss';
@import './responsiveness.scss';

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.tile {
	margin: 5px;
	min-width: 200px;
	height: 130px;
	background-color: #91a3b0;
	color: white;
	font-size: 20px;
	transition: transform 500ms, opacity 500ms;
	transform-origin: 50% 50%;
	position: relative;
}

.overlay {
	background-color: #91a3b0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 500ms;
	position: absolute;
	top: 0;
	color: white;
}

.tile:hover {
	transform: scale(1.5);
}

.tile:hover .overlay {
	opacity: 1;
}

.shiftLeft {
	transform: translateX(-50px);
}

.shiftRight {
	transform: translateX(50px);
}

.darker {
	opacity: 0.5;
}
