/*  #region CONTAINER STYLES */

.container-fluid,
.container {
	width: 100%;
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
}

.container-fluid {
	padding-right: 2rem;
	padding-left: 2rem;
}

@media only screen and (max-width: $screen-md) {
	.container {
		max-width: 46.875rem;
		width: auto;
	}
}

@media only screen and (min-width: $screen-lg) {
	.container {
		width: 60.625rem;
	}
}

@media only screen and (min-width: $screen-xl) {
	.container {
		width: 73.125rem;
	}
}

/* #endregion */

/*  #region RESPONSIVE STYLES */

//small mobile (0-479)
@media (max-width: $screen-sm-mobile-max) {
	.hidden-sm-mobile {
		display: none !important;
	}
}

//large mobile (480-767)
@media (min-width: $screen-lg-mobile-min) and (max-width: $screen-lg-mobile-max) {
	.hidden-lg-mobile {
		display: none !important;
	}
}

//mobile (0-767)
@media (max-width: $screen-lg-mobile-max) {
	.hidden-mobile {
		display: none !important;
	}
}

//tablet (768-991)
@media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
	.hidden-tablet {
		display: none !important;
	}
}

//mobile and tablet
@media (max-width: $screen-tablet-max) {
	.hidden-mobile-and-tablet {
		display: none !important;
	}
}

//sm desktop (992-1199)
@media (min-width: $screen-sm-desktop-min) and (max-width: $screen-sm-desktop-max) {
	.hidden-sm-desktop {
		display: none !important;
	}
}

//lg desktop (1200px and above)
@media (min-width: $screen-lg-desktop-min) {
	.hidden-lg-desktop {
		display: none !important;
	}
}

//desktop (992px and above)
@media (min-width: $screen-sm-desktop-min) {
	.hidden-desktop {
		display: none !important;
	}
}

// tablet and desktop (768px and above)
@media (min-width: $screen-tablet-min) {
	.hidden-tablet-and-desktop {
		display: none !important;
	}
}

/*  #endregion RESPONSIVE CLASSES */
